# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/Debug/
/*.launch
/.metadata
/hardware/TDSE-TF/TDSE-TF-backups
hardware/TDSE-TF/~TDSE-TF.kicad_sch.lck
/tdse-tf_3-03/.metadata
/tdse-tf_3-03/.settings
/tdse-tf_3-03/Debug
tdse-tf_3-03/.cproject
tdse-tf_3-03/.cproject
tdse-tf_3-03/.mxproject
/hardware/TDSE-TF/.history
tdse-tf_3-03/tdse-tf_3-03.cfg
tdse-tf_3-03\tdse-tf_3-03.cfg
